# These executable files will be OS and compiler specific, so I think it's best that we not have them uploaded
# to the remote repo while we work on this project. - Remy

*.exe
*.out

# Because I work with Vim, these files end up being created that will just get in the way for you guys
*.swp

*.o

*.depend

*.layout
